<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Ticket Pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ticket number</th>
                                    <th>event name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(item of ticketList; track $index){
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.ticketId}}</td>
                                        <td>{{item.eventName}}</td>
                                        <td>{{item.ticketPrice}}</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-header bg-success">
                Ticket Details
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-9 text-center">
                            <h6>Number of Tickets Available</h6>
                            <h6>{{ticketsNum}}</h6>
                            
                            <h6>Numbet of tickets Sold</h6>
                            <h6>{{ticketsSold}}</h6>

                            <h6>Numbet of tickets Vendor Add</h6>
                            <h6>{{ticketsDue}}</h6>
                            <div class="row">
                                <button type="button" class="btn btn-dark" [disabled]="isPolling" (click)="startPolling()">Start Polling</button>
                                <button type="button" class="btn btn-danger" [disabled]="!isPolling" (click)="stopPolling()" >Stop Polling</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>