<div class="col-3">
    <div class="card">
        <div class="card-header bg-success">
            Configuration Form
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <label for="">Total Number of Tickets</label>
                    <input type="text" class="from-control">

                    <label for="">Ticket Release Rate</label>
                    <input type="text" class="from-control">

                    <label for="">Customer Retrieval Rate</label>
                    <input type="text" class="from-control">

                    <label for="">Maximum Ticket Capacity</label>
                    <input type="text" class="from-control">
                </div>
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>